﻿img.menu-icon {
	height: 100px;
	width: auto;
}

.font-bold {
	font-weight: bold;
}

.table > thead > tr > td.success-forced,
.table > tbody > tr > td.success-forced,
.table > tfoot > tr > td.success-forced,
.table > thead > tr > th.success-forced,
.table > tbody > tr > th.success-forced,
.table > tfoot > tr > th.success-forced,
.table > thead > tr.success-forced > td,
.table > tbody > tr.success-forced > td,
.table > tfoot > tr.success-forced > td,
.table > thead > tr.success-forced > th,
.table > tbody > tr.success-forced > th,
.table > tfoot > tr.success-forced > th {
	background-color: #dff0d8 !important;
}

.table-hover > tbody > tr > td.success-forced:hover,
.table-hover > tbody > tr > th.success-forced:hover,
.table-hover > tbody > tr.success-forced:hover > td,
.table-hover > tbody > tr:hover > .success-forced,
.table-hover > tbody > tr.success-forced:hover > th {
	background-color: #d0e9c6 !important;
}
.panel-fullscreen {
	display: block;
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	right: 0;
	left: 0;
	bottom: 70px;
	overflow: auto;	
	background:rgba(0,0,0,0.3);
}
.loader-container {
	position:absolute;
	margin-bottom:-35px;
	width: 100%;
	
}
.loader-show {
	display:none;
}
