﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Asunto</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-weight: normal;
            font-family: HelveticaNeue, Helvetica, Arial sans-serif;
            margin-left: 20px;
            margin-right: 20px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td {
            padding: 0;
            vertical-align: top;
        }

        img {
            border: 0;
            display: block;
        }

        a {
            display: block;
            transition: all .25s;
        }

        p a {
            display: inline;
        }

        h1 {
            text-align: center;
        }

        .wrapper {
            min-width: 600px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
        }

        .one-col .column {
            width: 600px;
        }

        .one-col .padding {
            width: 90px;
        }

        .one-col .padded {
            width: 420px;
        }

        .info {
            width: 100%;
        }

            .info > tbody > tr > td {
                padding: 5px;
                border-style: solid;
                border-color: gray;
                border-width: 1px;
            }

                .info > tbody > tr > td:first-child {
                    font-weight: bold;
                }

        .message {
            padding: 5px;
            font-size: 1.2em;
        }

        .footer {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <table class="wrapper">
        <tr>
            <td>
                <table class="one-col">
                    <tr>
                        <td class="padding"></td>
                        <td class="padded" style="text-align: center;">
                            <h1>@Model.Empresa</h1>
                        </td>
                        <td class="padding"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="message">Notificación de Cancelación de Cumplimiento</td>
        </tr>
        <tr>
            <td>
                <table class="info">
                    <tr>
                        <td>Sucursal</td>
                        <td>@Model.Sucursal</td>
                    </tr>
                    <tr>
                        <td>Departamento</td>
                        <td>@Model.Departamento</td>
                    </tr>
                    <tr>
                        <td>Área</td>
                        <td>@Model.Area</td>
                    </tr>
                    <tr>
                        <td>Fecha y hora de cancelacion</td>
                        <td>@Model.FechaCancelacion</td>
                    </tr>
                    <tr>
                        <td>Folio</td>
                        <td>@Model.Folio</td>
                    </tr>
                    <tr>
                        <td>Tarea</td>
                        <td>@Model.Tarea</td>
                    </tr>
                    <tr>
                        <td>Valor</td>
                        <td>@Model.Valor</td>
                    </tr>
                    <tr>
                        <td>Observaciones</td>
                        <td>@Model.Observaciones</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="one-col">
            <td class="column">
                <p class="footer">
                    Este correo electrónico es para fines informativos de la operación de la sucursal, para información detallada se recomienda consultar directamente en el sistema <a href="http://codornix.com.mx/">CodorniX</a>.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>